{% macro header(page, current_user) %}
<nav class="navbar navbar-fixed-top navbar-expand-lg navbar-light bg-light">
  <a style="margin-bottom: 1px" class="navbar-brand"  href="{{ url_for('index') }}">Quizbase</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('highscores') }}">Highscores</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('profile') }}">Profile</a>
      </li>
    </ul>
    <ul class="right navbar-nav me-auto mb-2 mb-lg-0">
      {% if current_user.is_authenticated %}
      <li class="nav-item">
        <p style="margin: .0;" class="nav-link" href="{{ url_for('login_page') }}">logged in as <a style="color: dodgerblue;" href="{{url_for('profile')}}">{{current_user.username}}</a></p>
      </li>
      <li>
        <a class="nav-link" href="{{ url_for('logout') }}">logout</a>
      </li>
      {% else %}
      <li>
        <a class="nav-link float-right" href="{{ url_for('login_page') }}">Log in</a>
      </li>
      {% endif %}
    </ul>
  </div>
</nav>
{%- endmacro %}

{% macro bootstrap_imports() %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
{%- endmacro %}