{% from "macros.html" import header, bootstrap_imports %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{ bootstrap_imports() }}
    <title>Profile</title>
</head>
<body>
    {{ header('Profile', current_user) }}
    <div class="d-flex justify-content-center">
        <div class="p-2">
            <img src="https://img.icons8.com/ios/50/000000/name--v1.png"/>
            <h2>{{current_user.username}}</h2>
        </div>
    </div>
    <div class="d-flex justify-content-center">
        <div class="d-block-flex justify-content-center w-50">
            <h2>Your games:</h2>
            <table class="table">
                <thead>
                    <tr>
                    <th scope="col">#</th>
                    <th scope="col">Quiz</th>
                    <th scope="col">Score</th>
                    </tr>
                </thead>
                {%for i in range(0, scores|length)%}
                <tbody>
                    <tr>
                    <th scope="row">{{i + 1}}</th>
                    <td>{{scores[i][0]}}</td>
                    <td>{{scores[i][1]}}</td>
                    </tr>
                </tbody>
                {%endfor%}
            </table>
        </div>
    </div>
</body>
</html>