<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>inexistant {{quizname}}</title>
</head>
<body>
    <div id='topbar'>
        <div style="margin: 0 auto; width: 640px; display: block;">
            <h1 style="color: white; letter-spacing: .17em; margin-left: 2px;">{{quizname}}</h1>
        </div>
    </div>
    <h1 style="text-align: center;">this site will contain {{quizname}}</h1>
</body>
</html>