<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/test.css">
    <script src='../static/test.js'></script>
    <title>Quiz</title>
</head>
<body>
    <div id='content-div'>
        <h1>Quizbase</h1>
        <div id='quizList'>
            <div class='quizCard' onclick="openQuiz('/sql-quiz')">
                <div class='quizImgWrapper'>
                    <img class='quizImg' src="https://media.istockphoto.com/vectors/flat-icon-check-vector-id496603666?k=20&m=496603666&s=170667a&w=0&h=QOfI-aqzv1dEamb2evpWUvKkukJwtH4YRF_Ugwksk6Y=" alt="">
                </div>
                <div class='quizCardTextWrapper'>
                    <h2>Sql quiz</h2>
                    <p class='textContent'>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                </div>
            </div>
        </div>
        <div id='quizList'>
            <div class='quizCard' onclick="window.location.replace('/sql-quiz')">
                <div class='quizImgWrapper'>
                    <img class='quizImg' src="https://media.istockphoto.com/vectors/flat-icon-check-vector-id496603666?k=20&m=496603666&s=170667a&w=0&h=QOfI-aqzv1dEamb2evpWUvKkukJwtH4YRF_Ugwksk6Y=" alt="">
                </div>
                <div class='quizCardTextWrapper'>
                    <h2>Sql quiz</h2>
                    <p class='textContent'>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                </div>
            </div>
        </div>
        <div id='quizList'>
            <div class='quizCard' onclick="window.location.replace('/sql-quiz')">
                <div class='quizImgWrapper'>
                    <img class='quizImg' src="https://media.istockphoto.com/vectors/flat-icon-check-vector-id496603666?k=20&m=496603666&s=170667a&w=0&h=QOfI-aqzv1dEamb2evpWUvKkukJwtH4YRF_Ugwksk6Y=" alt="">
                </div>
                <div class='quizCardTextWrapper'>
                    <h2>Sql quiz</h2>
                    <p class='textContent'>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>